@charset "UTF-8";

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fontsRoboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fontsRoboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fontsRoboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fontsRoboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fontsicons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before,
[class*=_icon-]:after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before,
[class*=_icon-]:after {
  display: block;
}

._icon-win:before {
  content: "\e900";
}

._icon-win:after {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.no-webp .main-bg{
  background: url("../img/bg.png"); }

.main-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  max-width: 100%;
  height: 167px;
  background-color: rgb(0, 0, 0);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__img-ibg {
  height: 167px;
}

.header__img-ibg:hover {
  opacity: 0.9;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/

.footer {
  background-color: #000;
}

.footer__content {
  height: 100px;
}

.footer__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  height: 30px;
  text-align: center;
  padding: 0 20px;
}

main {
  height: 100%;
}

.pin-up {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.pin-up__bg {
  width: 100%;
  height: 60px;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pin-up__content {
  position: relative;
}

.pin-up__content::after {
  content: "";
  background-image: url("../img/wave-top.svg");
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  width: 100%;
  position: absolute;
  height: 60px;
  overflow: hidden;
  z-index: -1;
}

.pin-up__text {
  font-weight: 700;
  color: red;
}

.pin-up__win:hover {
  opacity: 0.9;
}

._icon-win {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 36px;
}

._icon-win::after,
::before {
  background: rgb(251, 182, 37);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(251, 182, 37)), color-stop(27%, rgb(252, 186, 30)), color-stop(56%, rgb(248, 199, 2)), color-stop(94%, rgb(166, 61, 19)));
  background: -o-linear-gradient(top, rgb(251, 182, 37) 0%, rgb(252, 186, 30) 27%, rgb(248, 199, 2) 56%, rgb(166, 61, 19) 94%);
  background: linear-gradient(180deg, rgb(251, 182, 37) 0%, rgb(252, 186, 30) 27%, rgb(248, 199, 2) 56%, rgb(166, 61, 19) 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-banner {
  margin-bottom: 100px;
}

.main-banner__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #171717;
  width: 100%;
  border: 8px solid #240709;
  border-radius: 4px;
}

.main-banner__content::after {
  content: "";
  background-image: url(../img/wave-bootom.svg);
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.banner {
  position: relative;
}

.banner__content {
  padding: 10px;
  width: 50%;
}

.banner__photo {
  width: 100%;
}

.banner__photo:hover {
  opacity: 0.85;
}

.description__content {
  width: 50%;
  padding: 10px;
}

.description__title {
  max-width: 80%;
  font-weight: 700;
  line-height: 1.1;
  color: rgb(74, 213, 183);
}

.description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  font-weight: 400;
  line-height: 1.1;
}

.description__text p:first-child {
  font-weight: 900;
}

.description__button-btn {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(107, 7, 7)), to(rgb(242, 38, 23)));
  background: -o-linear-gradient(bottom, rgb(107, 7, 7) 0%, rgb(242, 38, 23) 100%);
  background: linear-gradient(0deg, rgb(107, 7, 7) 0%, rgb(242, 38, 23) 100%);
  border-radius: 25px;
  letter-spacing: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.description__button-btn:hover {
  opacity: 0.9;
}

@media (min-width: 57.5em) {
  .description__button-btn {
    font-size: 2rem;
  }
}

@media (min-width: 60.5em) {
  .description__title {
    height: 4.375rem;
  }

  .description__button-btn {
    padding-left: 1.625rem;
  }

  .description__button-btn {
    padding-right: 1.625rem;
  }

  .description__button-btn {
    padding-top: 0.75rem;
  }

  .description__button-btn {
    padding-bottom: 0.75rem;
  }
}

@media (min-width: 30em) {
  .pin-up__text {
    font-size: 2.125rem;
  }

  .description__title {
    margin-bottom: 1.25rem;
  }

  .description__text {
    font-size: 1rem;
  }
}

@media (min-width: 48em) {
  .description__title {
    font-size: 1.875rem;
  }

  .description__text {
    margin-bottom: 0.9375rem;
  }

  .description__text {
    max-height: 8.125rem;
  }
}

@media (min-width: 75em) {
  .main-banner__content::after {
    height: 12.5rem;
  }
}

@media (max-width: 768px) {
  .main-banner__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .banner__content {
    width: 100%;
  }

  .description__content {
    width: 100%;
  }

  .description__title {
    max-width: 100%;
  }
}

@media (max-width: 30em) {
  .description__title {
    font-size: 1.75rem;
  }

  .description__text {
    max-height: 6.875rem;
  }
}

@media (max-width: 20em) {
  .header {
    height: 5.9375rem;
  }

  .header__img-ibg {
    height: 5.9375rem;
  }

  .footer__copyright {
    font-size: 0.75rem;
  }

  .pin-up__text {
    font-size: 1.875rem;
  }

  .description__title {
    font-size: 1.375rem;
  }

  .description__title {
    height: 2.5rem;
  }

  .description__title {
    margin-bottom: 0.875rem;
  }

  .description__text {
    font-size: 0.75rem;
  }

  .description__text {
    margin-bottom: 0.3125rem;
  }

  .description__text {
    max-height: 6.25rem;
  }
}

@media (max-width: 60.5em) {
  .main-banner__content::after {
    height: 5.625rem;
  }
}

@media (max-width: 32.5em) {
  .description__button-btn {
    font-size: 1.25rem;
  }
}

@media (max-width: 26.25em) {
  .description__button-btn {
    padding-left: 0.375rem;
  }

  .description__button-btn {
    padding-right: 0.375rem;
  }

  .description__button-btn {
    padding-top: 0.625rem;
  }

  .description__button-btn {
    padding-bottom: 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 32.5em) {
  .header {
    height: calc(5.9375rem + 4.5 * (((100vw - 20rem)) / ((12.5))));
  }

  .header__img-ibg {
    height: calc(5.9375rem + 4.5 * (((100vw - 20rem)) / ((12.5))));
  }

  .footer__copyright {
    font-size: calc(0.75rem + 0.25 * (((100vw - 20rem)) / ((12.5))));
  }
}

@media (min-width: 20em) and (max-width: 30em) {
  .pin-up__text {
    font-size: calc(1.875rem + 0.25 * (((100vw - 20rem)) / ((10))));
  }

  .description__title {
    font-size: calc(1.375rem + 0.375 * (((100vw - 20rem)) / ((10))));
  }

  .description__title {
    margin-bottom: calc(0.875rem + 0.375 * (((100vw - 20rem)) / ((10))));
  }

  .description__text {
    font-size: calc(0.75rem + 0.25 * (((100vw - 20rem)) / ((10))));
  }

  .description__text {
    max-height: calc(6.25rem + 0.625 * (((100vw - 20rem)) / ((10))));
  }
}

@media (min-width: 60.5em) and (max-width: 75em) {
  .main-banner__content::after {
    height: calc(5.625rem + 6.875 * (((100vw - 60.5rem)) / ((14.5))));
  }
}

@media (min-width: 30em) and (max-width: 48em) {
  .description__title {
    font-size: calc(1.75rem + 0.125 * (((100vw - 30rem)) / ((18))));
  }

  .description__text {
    max-height: calc(6.875rem + 1.25 * (((100vw - 30rem)) / ((18))));
  }
}

@media (min-width: 20em) and (max-width: 60.5em) {
  .description__title {
    height: calc(2.5rem + 1.875 * (((100vw - 20rem)) / ((40.5))));
  }
}

@media (min-width: 20em) and (max-width: 48em) {
  .description__text {
    margin-bottom: calc(0.3125rem + 0.625 * (((100vw - 20rem)) / ((28))));
  }
}

@media (min-width: 32.5em) and (max-width: 57.5em) {
  .description__button-btn {
    font-size: calc(1.25rem + 0.75 * (((100vw - 32.5rem)) / ((25))));
  }
}

@media (min-width: 26.25em) and (max-width: 60.5em) {
  .description__button-btn {
    padding-left: calc(0.375rem + 1.25 * (((100vw - 26.25rem)) / ((34.25))));
  }

  .description__button-btn {
    padding-right: calc(0.375rem + 1.25 * (((100vw - 26.25rem)) / ((34.25))));
  }

  .description__button-btn {
    padding-top: calc(0.625rem + 0.125 * (((100vw - 26.25rem)) / ((34.25))));
  }

  .description__button-btn {
    padding-bottom: calc(0.625rem + 0.125 * (((100vw - 26.25rem)) / ((34.25))));
  }
}

.webp .main-bg{ background: url(../img/bg.webp); }